
*.html
*.js
*.css
*.png
*.jpg
*.jpeg
*.gif
*.svg
*.ico
*.woff
*.woff2
*.ttf
*.eot
*.otf
*.txt
*.class
*.md
bin/
libs/commons-io-2.19.0/docs/legal/LICENSE
libs/commons-csv-1.14.0/apidocs/element-list
libs/commons-csv-1.14.0/apidocs/legal/ADDITIONAL_LICENSE_INFO
libs/commons-csv-1.14.0/apidocs/legal/ASSEMBLY_EXCEPTION
libs/commons-csv-1.14.0/apidocs/legal/LICENSE
libs/commons-io-2.19.0/docs/element-list
libs/commons-io-2.19.0/docs/legal/ADDITIONAL_LICENSE_INFO
libs/commons-io-2.19.0/docs/legal/ASSEMBLY_EXCEPTION
lerra_id_rsa
lerra_id_rsa.pub
